<div class="parent">
    <div class="section upper">
        <div class="left">
            <div class="heading">
                Meet Zymes
            </div>
            <div class="text">
                A diverse company of believers and visionaries.We are the company of the moment and the enterprise of the future.We can’t wait to make legendary strides.Every step counts.
            </div>
        </div>
        <div class="right">
            <img src="assets/aboutLanding.webp">
        </div>
    </div>
</div>