<div class="parent">
     <!-- <div class="WIP">
                <img src="assets/work_in_progress.webp" alt="">
                <div class="text">WORK IN PROGRESS</div>
             </div> -->
             <div class="content">
               <div class="top">
                  <div class="heading"></div>
               </div>
               <div class="data">
                  <div class="section">
                     <div class="left">
                        <div class="image">
                           <img src="assets/images/director.jpg" alt="">
                        </div>
                     </div>
                     <div class="right">
                        <div class="text">
                           Our mission is to break the stigma surrounding mental health treatment, providing a supportive environment for individuals struggling with substance abuse and related mental health issues. We offer a safe and nurturing space for our clients to recover and reintegrate into society. Our comprehensive programs empower individuals, families, and caregivers with the knowledge, skills, and resources needed to manage mental health challenges and promote overall well-being. By fostering a community of understanding and support, we aim to destigmatize mental health and facilitate healing.
                        </div>
                     </div>
                  </div>
               </div>
             </div>
</div>