.parent{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    height: fit-content;
    line-height: normal;
    .content{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 100%;
        height: 100%;
        .top{
            display: flex;
            width: 100%;
            .heading{
                font-size: 1.5rem;
            }
        }
        .data{
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 2rem;
            height: fit-content;
            align-items: center;
            .section{
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 90%;
                gap: 1rem;
                padding: 1rem;
                flex-wrap: wrap;
                .heading{
                    font-size: 2.5rem;
                }
                .text{
                    color: gray;
                    font-size: 1rem;
                    text-align: justify;
                }
                .left,.right{
                    width: 40%;
                    display: flex;
                    flex-direction: column;
                    gap: 2rem;
                    min-width: 320px;
                    .image{
                        width: 100%;
                        height: 100%;
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                            background-color: black;
                        }
                    }
                }
                .right{
                    width: 55%;
                }
            }
        }
    }

    .footer{
        width: 100%;
        height: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}



@media only screen and (max-width:768px){
    .parent{
        .content{
            .data{
                .section{
                    width: 100%;
                    .heading{
                        font-size: 2rem;
                    }
                    .text{
                        font-size: 0.9rem;
                    }
                    .left,.right{
                        width: 100%;
                        gap: 1rem;
                    }
                }
            }
        }
    }
}