<div class="parent">
    <div class="section upper">
        <div class="left">
            <div class="heading">
                Meet Alventus
            </div>
            <div class="text">
                The company aims to accomplish the global name in the field of healthcare and maintain its services in a fair, respectful, and professional manner consistent with available human, natural and economic resources.
            </div>
        </div>
        <div class="right">
            <img src="assets/aboutLanding.webp">
        </div>
    </div>
    <div class="section second">
        <div class="topHeading">
            Company Overview
        </div>
        <div class="content">

            <div class="left">
                <img src="assets/aboutSecond.webp">
            </div>
            <div class="right">
                <div class="heading">
                    About company
                </div>
                <div class="text">
                    Alventus Lifesciences is one of the Fastest growing pharmaceuticals company in india. The objective of the company is to invent new pharmaceuticals products, manufacture existing Generic products as the company's flagship Brands. The company aims to market these products across the globe with the highest quality and efficacy under affordable prices.
                </div>
                <div class="text">
                    The goal of the company is to be one of the top Pharmaceuticals companies in india within the coming years. The company is in the process of setting up an exclusive marketing network across india and starting its marketing operation. It is also looking forward to marketing the products internationally in the near future. By the year 2030 the comapany has a goal to set up a State of art WHO/GMP approved manufacturing facility of india.
                </div>
            </div>
        </div>
    </div>
</div>