<div class="body">
    <div class="navbar">
        <div class="left">
            <img src="/assets/images/humana_wellness_2.png" height="80" width="80" style="cursor: pointer;" (click)="reload()">
        </div>
        <div class="right">
            <div class="list">
                <div class="item" routerLink="/">Home</div>
                <div class="item" routerLink="/products">Our Products</div>
                <div class="item" routerLink="/about">About us</div>
                <div class="item" routerLink="/contact">Contact us</div>
            </div>
        </div>
    </div>
</div>

<div class="device" [ngStyle]="{'height':navOpen ? '600px' : '60px'}">
	<div class="container">
		<div class="left">
            <img src="/assets/images/humana_wellness_2.png" height="80" width="80" style="cursor: pointer;" (click)="reload()">
        </div>
		<button id="burger" class="open-main-nav" (click)="toggleNav()" [ngStyle]="{'padding-top': navOpen ? '0px' : ''}">
			<span class="burger" *ngIf="!navOpen"></span>
            <div class="crossIcon" *ngIf="navOpen" style="padding-top: 0px;"><img src="/assets/images/cross.png" height="30" width="30" ></div>
			<!-- <span class="burger-text">Menu</span> -->
		</button>
		<nav class="main-nav" id="main-nav">
			<ul>
				<li routerLink="/" (click)="toggleNav()">
					<p>Home</p>
				</li>
				<li routerLink="/products" (click)="toggleNav()">
					<p>Our Products</p>
				</li>
				<li routerLink="/about" (click)="toggleNav()">
					<p>About us</p>
				</li>
				<li routerLink="/contact" (click)="toggleNav()">
					<p>Contact us</p>
				</li>
			</ul>
		</nav>
	</div>
</div>