<div class="parent">
    <div class="section upper">
        <div class="left">
            <div class="heading">
                Our Products
            </div>
            <div class="text">
                We are smart and choiceful about our diverse and expanding portfolio. It’s intentionally focused where patients are in need and bolstered by our strong commercial capabilities. Because that is where we make the most meaningful impact.
            </div>
        </div>
        <div class="right">
            <img src="assets/productLanding.webp">
        </div>
    </div>
    <div class="section mapSection">
        <div class="button">
            Our Oral Range
        </div>
        <div class="map">
            <img src="assets/map.gif">
        </div>
    </div>
</div>