.parent{
    display: flex;
    width: 100%;
    height: 100%;
    line-height: normal;
    flex-direction: column;
    gap: 2rem;
    .content{
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        .header{
            width: 100%;
            padding-top: 2rem;
            .heading{
                font-size: 2.5rem;
                text-align: center;
            }
        }
        .data{
            width: 100%;
            display: flex;
            height: fit-content;
            flex-direction: column;
            gap: 2rem;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }
    }
}
.cardsContainer{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-direction: column;
}
.agentcard{
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 100%;
    width: 80%;
    // height: 450px;
    height: fit-content;
    margin-bottom: 70px;
    background-color: whitesmoke;
    // background-color: #0F298B;
    color: gray;
    // color: white;
    padding: 10px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;

}
.image,.right{
    max-width: 100%;
    width: 45%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
}
.right{
    row-gap: 30px;
    padding-block: 1rem;
    .top{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        padding-top: 0rem;
        .designation{
            font-size: 1.2rem;
            color: #00b8b0;
        }
    }
    .details{
        font-size: 1rem;
        line-height: 24px;
        text-align: justify;
    }
}
.right .name{
    font-size: 2rem;
    font-weight: 600px;
    color: #00b8b0;
}
.image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.links{
    display: flex;
    max-width: 100%;
    width: 90%;
    justify-content: space-around;
    align-items: center;
}
.link img{
    height: 35px;
    width: 35px;
    cursor: pointer;
    object-fit: contain;

}
.link img:hover{
    transform: translateY(-3px);
    transition: 0.3s ease-in-out;
}
.footer{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width:768px){
    .cardsContainer{
        padding: 10px;
    }
    .agentcard{
        display: flex;
        flex-direction: column !important;
        max-width: 400px;
        width: 100%;
        height: 100%;
        padding-block: 20px;
        row-gap: 20px;
    }
    .image,.right{
        max-width: 100%;
        width: 100%;
    }
    .image{
        height: 250px;
        width: 100%;
        object-fit: cover;
        border-radius: 20px;
    }
    .image img{
        width: 100%;
        height: 100%;
        object-fit: contain;
        border-radius: 20px;
    }
    .right{
        align-items: center;
        .details{
            font-size: 14px;
            line-height: 20px;
        }
    }
}