<div class="parent">
    <div class="content">
        <div class="top">
              <swiper-container class="mySwiper" navigation="true" space-between="30"
    centered-slides="true" autoplay-delay="2500" autoplay-disable-on-interaction="false" loop="true">
   <swiper-slide *ngFor="let item of carouselData;">
    <div class="image">
        <img [src]="item.image" alt="">
    </div>
   </swiper-slide>
  </swiper-container>
        </div>
    </div>
    <div class="footer">
        <app-contact></app-contact>
    </div>
</div>